{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ML App</title>
    </head>
    <body>
        <h1>Predict Iris Species</h1>
        <form method="post">
            {% csrf_token %}
            <label for="sepal_length">Sepal Length:</label>
            <input type="text" name="sepal_length" required /><br /><br />
            <label for="sepal_width">Sepal Width:</label>
            <input type="text" name="sepal_width" required /><br /><br />
            <label for="petal_length">Petal Length:</label>
            <input type="text" name="petal_length" required /><br /><br />
            <label for="petal_width">Petal Width:</label>
            <input type="text" name="petal_width" required /><br /><br />
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>

        <h3>Classification Report:</h3>
        <pre>{{ report }}</pre>
        <pre>{{ confusion }}</pre>
        {% comment %}
        <pre>{{ graph_path }}</pre>
        {% if file_exists %} {% endif %} {% endcomment %}
        <img src="{% static graph_path %}" alt="Graph" />
        {% endif %}
    </body>
</html>
